<form action="/app/register/form" method="GET">
        <h3>Register</h3>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label><b>User name</b></label>
        <input type="text" placeholder="Enter Username" name="userName" required>

        <br><br><br>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br><br><br>
        <hr>

        <br><br>
        <button type="submit" class="registerbtn">Register</button>
    <br><br><br>
        <p>Already have an account? <a href="/app/welcome">Sign in</a>.</p>
</form>
